.sectionHomeFooter {
  width: 100vw;
  height: 25vh;
  margin: 20rem auto 0 auto;
}

.sectionHomeFooterColor {
  width: 100vw;
  height: 25vh;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    #0e0e7b 0%,
    #0e0e7b 40%,
    #f60707 80%,
    #f60707 100%
  );
  filter: brightness(0.7);
  position: absolute;
}

.divHomeFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.FooterText {
  justify-self: left;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  text-align: left;
  justify-content: start;
  align-content: start;
  text-transform: uppercase;

  font-family: "Poppins", cursive;
}

.footerLogoImage {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  cursor: pointer;
  justify-self: right;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .sectionHomeFooter {
    width: 100vw;
    height: 25vh;
    margin: 10rem auto 0 auto;
  }

  .FooterText {
    font-size: 0.7rem;
  }

  .footerLogoImage {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    cursor: pointer;
    justify-self: right;
  }

  .divHomeFooter {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
}
