.sectionHomeFooter {
  width: 100vw;
  height: 25vh;
  margin: 20rem auto 0 auto;
}

.sectionHomeFooterColor {
  width: 100vw;
  height: 25vh;
  margin: 0 auto;
  background-color: #000;
  filter: brightness(0.8);
  position: absolute;
}

.divHomeFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.FooterText {
  justify-self: left;
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
  justify-content: start;
  align-content: start;
}

.FooterText span {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  justify-self: start;
  text-align: left;
}

.footerLogoImage {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  cursor: pointer;
  justify-self: right;
}

@media only screen and (max-width: 800px) {
  .FooterText {
    font-size: 1rem;
  }

  .FooterText span {
    font-size: 1.3rem;
  }

  .footerLogoImage {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    cursor: pointer;
    justify-self: right;
  }

  .divHomeFooter {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .sectionHomeFooter {
    width: 100vw;
    height: 25vh;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}
