.sectionHomeServices {
  width: 100vw;
  /* min-height: 100vh; */
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 5rem;
  margin-top: 15rem;
}

.divHomeServicesText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingHomeServices {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  font-family: "Poppins", cursive;
  letter-spacing: 5px;
  /* background: linear-gradient(to right, #0000ff, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; */
  color: #f60707;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

/* .headingHomeServices::after {
  content: "";
  width: 2.4em;
  height: 9px;
  background: #fe0000;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
} */

.divHomeServicesText {
  width: 55%;
  margin: auto;
  line-height: 30px;
}

.divHomeServices {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: start;
  column-gap: 1em;
  row-gap: 1em;
}

.linkHomeServices {
  width: 100%;
  height: 18rem;
  position: relative;
  opacity: 1;
  padding: 1rem 0;
  /* transform: translateY(100px); */
  transition: all 1.5s ease-in-out;
  /* Dark Red to Light Red Gradient */
  background: linear-gradient(to top, #800000, #b30000, #fe0000);
}

.animatedText {
  position: absolute;
  bottom: 10px; /* Start at the bottom */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  transition: all 1s ease-in-out;
  text-transform: uppercase;
    font-family: "Poppins", cursive;

}

.serv {
  font-size: 2.5rem;
}

.linkHomeServices {
  position: relative;
  width: 100%;
  height: 25rem;
  background: linear-gradient(to top, #800000, #b30000, #fe0000);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align text at the bottom */
  overflow: hidden;
}

.linkHomeServices:hover .animatedText {
  bottom: 75%; /* Moves to the top */
  animation-delay: 8s;
}

.imageHomeServices {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  box-shadow: 0 0 20px 1px #cfb095;
}

.divTextMain {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 1; */
}

.textHomeServicesMain {
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  width: 100%;
  letter-spacing: 2px;
}

.divText {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  padding: 0 2rem 0 2rem;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  transition-delay: 0.3s;
}

.divText:hover {
  opacity: 1;
}

.divText > * {
  transform: translateY(50px);
  transition: transform 2s ease-in-out;
  transition-delay: 0.3s;
}

.divText:hover > * {
  transform: translateY(0px);
}

.textHomeServices {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 30px;
  margin-top: 3rem;
  font-family: "Poppins", cursive;
}

.textHomeSection {
  font-size: 0.9rem;
  font-family: "Poppins", cursive;
}

@media screen and (max-width: 800px) {
  .sectionHomeServices {
    width: 100%;
    margin-top: 8rem;
  }

  .divHomeServicesText {
    width: 100%;
  }

  .headingHomeServices {
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 3px;
  }

  .textHomeSection {
    font-size: 0.7rem;
    max-width: 85%;
    margin: auto;
    letter-spacing: 0px;
    line-height: 25px;
  }

  .divHomeServices {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    justify-content: start;
    row-gap: 0.5rem;
  }

  .animatedText {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .serv {
    font-size: 1.5rem;
  }

  .linkHomeServices:hover .animatedText {
    bottom: 70%;
    animation-delay: 8s;
  }

  .textHomeServices {
    font-size: 0.7rem;
    line-height: 25px;
    margin-top: 3rem;
    letter-spacing: 0px;
    width: 90%;
  }

  .divText {
    width: 100vw;
    padding: 0 0.5rem 0 0.5rem;
  }

  /* .divHomeServices {
    max-width: 90%;
    column-gap: 0.5em;
    row-gap: 0.5em;
  } */

  /* .linkHomeServices {
    height: 150px;
  } */

  .linkHomeServices {
    width: 100%;
    height: 13rem;
  }
}

.linkHomeServices {
  padding: 1rem 0;
}
